@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

main{
    background-color: #1F2833;
}
    
.heading p,h2{
    text-align: center;
    color: #66FCF1;
}

#blink{
    animation: blink 1s infinite steps(2);
  

}
@keyframes blink {
    0% {
         visibility:hidden;
         
    }
    100%{
        visibility:show;
      
    }
    
}

h4{
   
    padding-top: 50px;
    text-align: center;
    font-family: 'Goblin One', cursive;

}
.child p{
   
    font-size: 20px;
    text-align: center;
    font-family: 'Goblin One', cursive;
  

}
.Navbar{
    background-color: #66FCF1;
    font-size: 25px;
    font-weight: 700;

}


.parents{
    width: 80vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.2 linear;
}

.child{
    height: 200px;
    background:#66FCF1;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    flex: 1 1 250px;
    margin: 20px;
    transform: scale(1);
    transition: 0.4s;
}
.child:hover{
    background-color: #1a434e;
    color:white;
    transform: scale(1.1)
}


.footer{
    background-color: black;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:cornsilk;
    padding-top: 5px;
}


